html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  font-size: 2.7rem;
}

h3{
  font-family: 'Fira Sans', sans-serif;
}
p {
  color: #8f8f8f;
  line-height: 1.5;
}
.container-fluid{
    padding: 3% 12% 4%;

}
/* NAVIGATION BAR */
.navbar {
  padding: 0 4rem  4rem 0;
}
.navbar-brand {
   font-family: 'Ubuntu', sans-serif;;
   font-size: 2.5rem;
   font-weight: bold;
}
.nav-item {
  padding: 0 15px 0 20px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

  /* BUTTONS */

.download-button {
  margin: 5% 5% 5% 0;
}
/* TITLE IMAGE */

.title-image {
  padding-left: 40px;
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  right: 35%;
}
.iphone-div {
  position: relative;
  height: 410px;
}


/* FEATURES SECTION */

#features {
  padding: 7% 12%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */

}
.feature-box {
  text-align: center;
  padding: 4%;
}
.feature-icons {
  margin-bottom: 1rem ;
  color: #ef8172; 
 
}
.feature-icons:hover {
  color: #ff4c68;
}

/* TESTOMONIALS SECTION */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
.carousel-item {
  padding: 5% 15%;

}

.testimonials-image {
  border-radius: 100%;
  width: 18%;
  margin: 5% ;
}
.testimonials-text {
  font-size: 1.1rem;
  /* margin-left: 4%; */
}

/* PRESS */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%  ;
  margin: 20px 20px 50px ;
}

/* PRICING SECTION  */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2% ;
}

/* CALL TO ACTION  */
#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 6% 15%;
}
.cta-h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.3;
  margin: 2.5%;
}
.cta-button {
  margin: 3% 2% 3% 0;
}

/* FOOTER  */


#footer {
  text-align: center;
  padding: 5% 15%;
}
.footer-icons {
  margin: 1rem;
}



@media (max-width: 1050px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
  /* .iphone-div {
    position: static;
    max-height: 800px;
  } */
  #features {
    position: static;
  }
  #title {
    text-align: center;
  }

}